#business {
  background-color: white;
  overflow: hidden;

  .container-fluid {
    padding: 0px !important;

    .item {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      .header {
        >h1 {
          font-size: 30px;

          >span {
            color: #c7b3a2
          }
        }

        >p {
          color: #888490;
          font-style: italic;
          margin: 20px 0px;
          padding-bottom: 35px;
          margin-bottom: 30px;
        }
      }

      .bottom {
        .number {
          font-size: 40px;
          margin-bottom: 20px;
          >span{
            position: relative;

            &::after {
                content: "";
                background-image: url(../../images/counter_bg_left.png);
                height: 50px;
                position: absolute;
                width: 28px;
                background-size: cover;
                left: -25px;
            }
            &::before {
                content: "";
                background-image: url(../../images/counter_bg_right.png);
                height: 50px;
                position: absolute;
                width: 28px;
                background-size: cover;
                right: -25px;
            }
          }
          
        }
        .center{
            margin: 10px 0px;
            margin-top: 30px;
        }
        .bottom{
            color: #716f75;
            font-style: italic;
        }
      }
    }
  }
}
